@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color: #fff;
  min-height: 100vh;
}


/* header
------------------------------ */
#header {
  width: 100%;
  background-color: #434e48;
}

#header .wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

#header p{
  float: left;
  margin: 22px 0 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#header p a{
  color: #fff;
}

#header ul{
  float: right;
  margin: 28px 0;
  font-size: 0.9rem;
  font-weight: 500;
  list-style: none;
}

#header ul li{
  float: left;
  margin-right: 40px;
}

#header ul li:last-child {
  margin-right: 0;
}

#header ul li a{
  color: #fff;
}
/* footer
------------------------------ */

#footer {
  font-size: 0.5rem;
  color: #fff;
  width: 100%; 
  height: 3rem;
  line-height:3rem;
  text-align: center;
  background-color: #434e48;
}



/* ユーザー登録フォーム
------------------------------ */
.content {
    position: relative;
    margin: 10px auto;
    background-color: #f7fafc;
    border: 1px solid #d1d1d1;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
    
    text-align: center;
}


/* アップロード
------------------------------ */
 .upload {
    margin: auto;
    width: 85%;
    height: 300px;
    position: relative;
    border: 1px dotted rgba(0, 0, 0, .4);
}

.upload i {
    position: absolute;
    font-size: 120px;
    opacity: .1;
    width: 100%;
    left: 0;
    top: 80px;
}

.upload p {
    width: 100%;
    position: absolute;
    top: 200px;
    opacity: .8;
}

#files {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#submit-btn {
    font-weight: bold;
    margin-top: 20px;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    background-color: rgba(108, 168, 255, .7);
    border: none;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.6);
    opacity: .6;
    cursor: pointer;
}
#submit-btn:hover {
    background-color: rgba(108, 168, 255, 1.0);
}
#submit-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.postcontent{
    position: relative;
    margin: 10px auto;
    background-color: #f7fafc;
    border: 1px solid #d1d1d1;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.postcontent .titleimg{
  width : 35%;
  float: left;

}